	<!DOCTYPE html>
	{% load static %}

	<html>

	<head>
		<title>AboutPage</title>
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/@popperjs/core@2">

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'portfolio/base.css' %}">

	</head>

	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand " href="index.html" style="font-size:35px !important;font-weight:bold !important; ">  
				<svg class="bi mr-2 bi-pentagon-half" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M8 1.288V15h4.267l2.575-8.153L8 1.288zM16 6.5L8 0 0 6.5 3 16h10l3-9.5z" clip-rule="evenodd"/>
				</svg>
				nikhilnagar.com
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
		
				<ul class="nav navbar-nav ml-auto" style="	color:#817773;
	font-size: 20px;
	">
				
					<li class="nav-item  mx-3 ">
						<a class="nav-link" href="{% url 'portfolio:about' %}">About Me <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item mx-3">
						<a class="nav-link" href="{% url 'portfolio:projects' %}">Projects</a>
					</li>
					<li class="nav-item mx-3">
						<a class="nav-link" href="{% url 'portfolio:contacts' %}">Handels</a>
					</li>
					<li class="nav-item mx-3">
						<a class="nav-link" href="{% url 'portfolio:photocardlist' %}">Gallary</a>
					</li>
				
	
				</ul>

			</div>
		</nav>

		<!--  -->

		
	</header>


	<body>
<div class='container-fluid' style="min-height:100vh !important;">

		{% block content %}


		{% endblock content %}






</div>
  <!-- Footer -->
  <footer class="py-3 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; nikhilnagar.com 2020</p>
    </div>
    <!-- /.container -->
  </footer>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


	</body>

	</html>