{% extends "portfolio/base.html" %} {% block content %}

<script type="text/javascript">
  $(document).ready(function () {
    $(".thumbnailview").each(function (index) {
      this.src = this.src.replace("open", "thumbnail");
    });
  });
</script>
<style type="text/css">
  section.pricing {
    background: #007bff;
    background: linear-gradient(to right, #0062e6, #33aeff);
  }

  .pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }

  .pricing hr {
    margin: 1.5rem 0;
  }

  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
  }

  .pricing .card-price {
    font-size: 1.4rem;
    margin: 0;
  }

  .pricing .card-price .period {
    font-size: 0.8rem;
  }

  .pricing ul li {
    margin-bottom: 1rem;
  }

  .pricing .text-muted {
    opacity: 0.7;
  }

  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  .card-body {
    min-height: 30rem;
  }

  /* Hover Effects on Card */

  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -0.25rem;
      margin-bottom: 0.25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }

    .pricing .card:hover .btn {
      opacity: 1;
    }
  }

  .pricing .cardc {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }

  @media (min-width: 992px) {
    .pricing .cardc:hover {
      margin-top: -0.25rem;
      margin-bottom: 0.25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }

    .pricing .cardc:hover .btn {
      opacity: 1;
    }
  }
</style>

<section class="pricing py-5">
  <div class="mx-5 breadcrumb">
    <div class="container-fluid" style="overflow: hidden;">
      <div class="float-left mx-5">
        <h2>Projects</h2>
      </div>
      <div class="float-right mx-5">
        <a class="btn btn-outline-primary" href=" {% url 'portfolio:projectcreate' %}">Add Projects</a>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="flex-container">
      <!-- Free Tier -->

      {% for project in projects %}

      <div class="col-lg-4 mb-5">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body" style="position: relative;">
            <div>
              <h5 style="display: inline-block;" class="card-title text-muted text-uppercase text-center">
                My Project
              </h5>
              <a style="float: right;" href="{% url 'portfolio:deleteproject' project.id %}"><svg class="bi bi-x-circle"
                  width="2em" height="2em" fill="currentcolor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
                    clip-rule="evenodd" />
                  <path fill-rule="evenodd"
                    d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z"
                    clip-rule="evenodd" />
                  <path fill-rule="evenodd"
                    d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z"
                    clip-rule="evenodd" /></svg></a>
            </div>
            <h1 class="card-price text-center">{{project.name}}</h1>
            <hr />
            <ul class="fa-ul">
              <li>
                <i class="fa fa-code" style="font-size: 1.5em;"></i>
                <span class="h5">Tools Used :</span><br />
                {{project.technologystack|truncatechars:50 }}
              </li>
              <li>
                <i class="fa fa-detail" style="font-size: 1.5em;"></i>
                <span class="h5">Description :</span><br /><span
                  class="text-muted">{{ project.description|truncatechars:150 }}</span>
              </li>
            </ul>
            <a href="{% url 'portfolio:projectdetail' project.id  %}"
              style="position: absolute; bottom: 1rem; left: 1rem; width: 90%;"
              class="btn btn-block btn-primary text-uppercase">Project Details</a>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>

  <div class="mx-5 breadcrumb">
    <div class="container-fluid" style="overflow: hidden;">
      <div class="float-left mx-5">
        <h2>Certificates</h2>
      </div>
      <div class="float-right mx-5">
        <a class="btn btn-outline-primary" href=" {% url 'portfolio:certificatecreate' %}">Add Certificates</a>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="flex-container">
      <!-- Free Tier -->

      {% for certificate in certificates %}

      <div class="col-lg-4 mb-5">
        <div class="cardc card mb-5 mb-lg-0">
          <div class="card-body" style="position: relative;">
            <h5 class="card-title text-muted text-uppercase text-center" style="display: inline-block;">
              My Certificate
            </h5>
            <a style="float: right;" style="float: right;"
              href="{% url 'portfolio:deletecertificate' certificate.id %}"><svg class="bi bi-x-circle" width="2em"
                height="2em" fill="currentcolor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
                  clip-rule="evenodd" />
                <path fill-rule="evenodd"
                  d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z"
                  clip-rule="evenodd" /></svg></a>
            <h6 class="card-price text-center">{{certificate.title}}</h6>
            <hr />
            <img style="max-height: 100%; max-width: 100%;" class="mb-3 thumbnailview"
              src="{{ certificate.gdrivelink }}" />
            <a href="{{ certificate.gdrivelink }}" class="btn btn-block btn-primary text-uppercase"
              style="position: absolute; bottom: 1rem; left: 1rem; width: 90%;">Full View</a>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}