{% extends "portfolio/base.html" %}

{% block content %}

{% load crispy_forms_tags %}


<div class="container w-50 border border-primary p-3" > 
	<h2>Login</h2>

	

		{% if form.errors %}
		    <p>Please use correct credentials.</p>
		
		{% endif %}

		{% if next %}
		To change the website configurations ,U need to enter the credentials of superuser.
		<a href="{}"></a>
		{% endif %} 
		<form method="Post" enctype='multipart/form-data'>
		{% csrf_token %}
		{{ form|crispy }}


		<input type="submit" value = "submit">
		<input type="hidden" name="next" value="{{ next }}">
	</form>
</div>

{% endblock content  %}