<!DOCTYPE html>
<html>
<head>
	<title>Authenticate Yourself</title>
</head>
<body>
  
{% if form.errors %}
<p>Somthing youhvae  entered wrong</p>
    

{% endif %}

{% if next %}
<p>Hey you can't access the page..first login</p>
    

{% endif %}

<form method="POST" action="{% url 'portfolio:projectcreate' %}" >
	
	{% csrf_token %}
	<p>{{ form.username }}</p>
	<p>{{ form.password }}</p>
	<p><input type="submit" value="login"></p>
	<p><input type="hidden" name="next" value="{{ next }}" ></p>

</form>

</body>
</html>